.wrapper {
  height: var(--spinner-size, 20px);
  width: var(--spinner-size, 20px);
  display: inline-block;
}

.spinner {
  position: relative;
  width: 100%;
  height: 100%;
}

.bar {
  position: absolute;
  top: 45.5%;
  left: 39.5%;
  width: 24%;
  height: 8%;
  background: var(--spinner-color, #fff);
  border-radius: 9999px;
  animation: spinner-fade 1.2s linear infinite;
}

.bar:nth-child(1) {
  animation-delay: -1.2s;
  transform: rotate(0deg) translate(146%);
}

.bar:nth-child(2) {
  animation-delay: -1.1s;
  transform: rotate(30deg) translate(146%);
}

.bar:nth-child(3) {
  animation-delay: -1.0s;
  transform: rotate(60deg) translate(146%);
}

.bar:nth-child(4) {
  animation-delay: -0.9s;
  transform: rotate(90deg) translate(146%);
}

.bar:nth-child(5) {
  animation-delay: -0.8s;
  transform: rotate(120deg) translate(146%);
}

.bar:nth-child(6) {
  animation-delay: -0.7s;
  transform: rotate(150deg) translate(146%);
}

.bar:nth-child(7) {
  animation-delay: -0.6s;
  transform: rotate(180deg) translate(146%);
}

.bar:nth-child(8) {
  animation-delay: -0.5s;
  transform: rotate(210deg) translate(146%);
}

.bar:nth-child(9) {
  animation-delay: -0.4s;
  transform: rotate(240deg) translate(146%);
}

.bar:nth-child(10) {
  animation-delay: -0.3s;
  transform: rotate(270deg) translate(146%);
}

.bar:nth-child(11) {
  animation-delay: -0.2s;
  transform: rotate(300deg) translate(146%);
}

.bar:nth-child(12) {
  animation-delay: -0.1s;
  transform: rotate(330deg) translate(146%);
}

@keyframes spinner-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

