.glass-card {
    width: 300px;
    height: 200px;
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: url(#displacementFilter);
    display: flex;
    align-items: center;
    justify-content: center;
  }